.drop {
    background-color: transparent !important;
    padding: 70px 0;
    border-radius: 10px;
    border: 2px dashed #d5d8d9;
    text-align: center;
    width: 236px;
    height: 418px !important;
}

.drop--small {
    padding: 13px;
    width: 68px !important;
    height: 68px !important;
}

.drop--small .icon {
    font-size: 40px;
}

.icon {
    font-size: 90px;
    color: #d5d8d9;
    height: unset;
    width: unset;
}

.title {
    color: #888a8a;
}

.desc {
    color: #aeb4b5;
    margin-bottom: 0.5rem;
}
