


.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center{
  width: 75%;
  margin: 10px auto;
}

example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.login-card {
  margin-bottom: 10px;
}

button.login-button  {
  margin-top: 20px;
}
