<div class="header primary-background-color ">
    <div class="maxwidth">
        <app-top-nav></app-top-nav>
        <!--        <div class="root-tabs">-->
        <!--            <nav mat-tab-nav-bar [backgroundColor]="'primary'">-->
        <!--                <a mat-tab-link-->
        <!--                   routerLinkActive #rrla="routerLinkActive"-->
        <!--                   [active]="rrla.isActive"-->
        <!--                   [routerLink]="'/portal/root/games'">TEST{{'GAME.MYGAMES'|translate}}</a>-->
        <!--                <a mat-tab-link-->
        <!--                   routerLinkActive #rrla1="routerLinkActive"-->
        <!--                   [active]="rrla1.isActive"-->
        <!--                   [routerLink]="'/portal/root/connections'"-->
        <!--                >  {{'CONTACT.CONTACTS' |translate}}</a>-->
        <!--                <a mat-tab-link-->
        <!--                   disabled routerLinkActive="tab-selected"> {{'GAME.GAMELIB'|translate}}</a>-->
        <!--            </nav>-->
        <!--        </div>-->

        <div class="account-dropdown">
            <app-user-drop-down-display></app-user-drop-down-display>
            <select-language *ngIf="showLanguage"></select-language>
        </div>
        <div class="game-title white-color font-medium-32-43-roboto">{{(game$|async)?.title}}</div>

        <div class="back-button">
            <app-header-back-button [route]="'/portal/games/list'"></app-header-back-button>
        </div>
        <div class="context-tabs">
            <nav mat-tab-nav-bar [backgroundColor]="'primary'">
                <a mat-tab-link
                   [disabled]="!(game$|async)"
                   routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive"
                   [routerLink]="'/portal/game/'+(game$|async)?.gameId+'/detail/screens'">{{'MESSAGE.SCREENS'|translate}}</a>
                <a mat-tab-link
                   routerLinkActive #rlaf="routerLinkActive"
                   [disabled]="!(game$|async)"
                   [active]="rlaf.isActive"
                   [routerLink]="'/portal/game/'+(game$|async)?.gameId+'/detail/flowchart'"
                > FLOWCHART </a>
                <a mat-tab-link
                   *ngIf="isAdvanced |async"
                   routerLinkActive #rlafd="routerLinkActive"
                   [disabled]="!(game$|async)"
                   [active]="rlafd.isActive"
                   [routerLink]="'/portal/game/'+(game$|async)?.gameId+'/detail/flowchart/disappear'"
                > DISAPPEAR CHART </a>
                <a mat-tab-link
                   routerLinkActive #rla3="routerLinkActive"
                   [disabled]="!(game$|async)"
                   [active]="rla3.isActive"
                   [routerLink]="'/portal/game/'+(game$|async)?.gameId+'/detail/settings'"
                   routerLinkActive="tab-selected"> {{'HOME.SETTINGS'|translate}} </a>
                <a mat-tab-link
                   routerLinkActive #rla4="routerLinkActive"
                   [disabled]="!(game$|async)"
                   [active]="rla4.isActive"
                   [routerLink]="'/portal/game/'+(game$|async)?.gameId+'/detail/runs'"
                   routerLinkActive="tab-selected"> {{'RUNS.PLAY'|translate}} </a>
                <a mat-tab-link
                   routerLinkActive #rla5="routerLinkActive"
                   [disabled]="!(game$|async)"
                   [active]="rla5.isActive"
                   [routerLink]="'/portal/game/'+(game$|async)?.gameId+'/detail/media'"
                   routerLinkActive="tab-selected"> {{'MEDIA.MEDIA' |translate}} </a>
            </nav>
        </div>
        <ng-content></ng-content>
    </div>
</div>
<mat-progress-bar *ngIf="isLoading$|async" mode="indeterminate"></mat-progress-bar>
<!--<mat-progress-bar value="20" mode="indeterminate"  [ngClass]="{ '_mat-animation-noopable': true }">-->
<!--</mat-progress-bar>-->

