
<div class="mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort aria-label="Elements">

<!--    <ng-container matColumnDef="gameId">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ROW_HEADERS.ID' | translate }}</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.gameId}}</td>-->
<!--    </ng-container>-->



    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ROW_HEADERS.NAME' | translate }}</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

<!--    <ng-container matColumnDef="lastModificationDate">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ROW_HEADERS.TIME' | translate }}</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.lastModificationDate | date:'medium'}}</td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="bin-element-row" mat-row *matRowDef="let row; columns: displayedColumns;"

        (click)="clickGame(row.gameId)"
    ></tr>
    <!--[routerLink]="'/portal/'+row.id+'/solarbinlist/list'"-->
  </table>

  <mat-paginator #paginator

                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
