

  <table mat-table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ROW_HEADERS.ID' | translate }}</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>



    <ng-container matColumnDef="accessRights">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ROW_HEADERS.NAME' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list>
        <mat-chip color="primary" *ngIf="row.accessRights == 1" selected >owner</mat-chip>
        <mat-chip color="accent" *ngIf="row.accessRights == 2" selected>contributor</mat-chip>
        <mat-chip  *ngIf="row.accessRights == 3" selected>viewer</mat-chip>
        </mat-chip-list>

      </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ROW_HEADERS.TIME' | translate }}</th>
      <td mat-cell *matCellDef="let row">{{row.timestamp | date:'medium'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="bin-element-row" mat-row
        *matRowDef="let row; columns: displayedColumns;"

    ></tr>
  </table>

  <button mat-raised-button color="primary" (click)="addAuthor()">Add</button>

