.full-width-container {
    background-color: #F0F4F5; /*todo move up*/
}


.account-dropdown {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;

    color: #FFFFFF;
    opacity: 0.7;

}

.search {
    top: 155px;
    left: 0px;
    width: 320px;
    height: 35px;
    opacity: 1;
    position: absolute;
}

.gamesContainer-outer {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.gamesContainer {
    top: 109px;
    left: 0px;
    right: 140px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: flex-start;
    align-content: center;
}

.gameTile {
    width: 236px;
    height: 388px;
    margin: 5px;
}


.button-row {
    margin-bottom: 10px;
}

.card-container {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.table-column {
    flex-grow: 3;
    flex-shrink: 1;
    width: 460px;
    margin: 10px;

    min-width: 296px;
    flex-basis: 296px;
    /* background: gold; */
}


.detail-column {
    flex-grow: 2;
    flex-shrink: 1;
    width: 460px;
    margin: 10px;

    min-width: 296px;
    flex-basis: 296px;
    /* background: gold; */
}
