<app-top-level-navbar [title]="'My games'">
    <div class="button-placeholder">
        <div class="button-center">
            <button color="accent" mat-fab (click)="newGame()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</app-top-level-navbar>


<div class="full-width-container">
    <div class="maxwidth">
        <div class="gamesContainer-outer">
            <mat-form-field class="search" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Start typing to search games ..."
                       [(ngModel)]="filter"
                       (input)="onFilterChange($event.target.value)"
                >
                <mat-icon matPrefix>search</mat-icon>

            </mat-form-field>


            <div class="gamesContainer">
                <app-game-tile *ngFor="let game of (gameList$|async)" class="gameTile" [game]="game"></app-game-tile>
            </div>

        </div>
    </div>
</div>

